<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Wishlist</title>
</head>
<body>
    <h2 th:text="${person.name}"></h2>
    <div th:if="${not #lists.isEmpty(items)}">
        <table class="glyphicon glyphicon-calendar">
            <tr>
                <th>Id</th>
                <th>Item</th>
            </tr>
            <tr th:each="item : ${items}">
                <td th:text="${item.id}"></td>
                <td th:text="${item.description}"></td>
            </tr>
        </table>
    </div>
    <form action="/">
        <input type="submit" value="Home"/>
    </form>
</body>
</html>